---
import RootLayout from "../../layouts/RootLayout.astro";
import { getCollection } from "astro:content";
import Footer from "../../components/footer.astro";
const items = await getCollection("works");
---

<RootLayout>
  <main>
    <div class="group relative w-full min-h-dvh flex items-center justify-center">
      <h1>Works</h1>
      <ul>
        {items.map((i: any) => <li><a href={`/works/${i.slug}`}>{i.data.title}</a></li>)}
      </ul>
    </div>
  </main>
  <main class="relative">
    <slot />
    <Footer />
  </main>
</RootLayout>
