---
import clsx from "clsx/lite";

type Props = {
    className?: string;
    size?: "default" | "large";
}

const { size = "default", className } = Astro.props;
---

<h1
    class={clsx(
        "text-white font-['Migra'] font-extrabold text-balance",
        size === "default" && "text-4xl md:text-6xl xl:text-8xl",
        size === "large" && "text-6xl md:text-8xl lg:text-10xl",
        className,
    )}
>
    <slot />
</h1>
