---
import clsx from "clsx/lite";

type Props = {
  href: string;
  className?: string;
  variant?: "primary" | "secondary" | "icon";
};

const { href, variant = "primary", className } = Astro.props;
---

<a
  href={href}
  class={clsx(
    "w-fit transition-all duration-300 ease-in-out whitespace-nowrap",
    variant !== "icon" && "text-base sm:text-2xl px-5 py-2 rounded-full",
    variant === "primary" &&
      "text-neutral-950 bg-neutral-100 hover:outline-2 outline-offset-2 outline-neutral-100",
    variant === "secondary" &&
      "text-neutral-100 hover:text-white bg-transparent hover:bg-neutral-900 hover:outline-2 outline-offset-2 outline-neutral-900",
    variant === "icon" && "p-0 bg-transparent rounded-none outline-none",
    className
  )}
>
  <slot />
</a>