backend:
  name: github
  repo: ardynaskela/jan-pawel-przegendza
  branch: master

media_folder: "public/uploads"
public_folder: "/uploads"

collections:
  - name: "test"
    label: "Test"
    folder: "src/content/test"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
