---
import RootLayout from "../../layouts/RootLayout.astro";
import { getCollection } from "astro:content";
import Footer from "../../components/footer.astro";
const items = await getCollection("events");
---

<RootLayout>
  <main>
    <div class="group relative w-full min-h-dvh flex items-center justify-center">
      <h1>Events</h1>
      <ul>
        {items.map((i: any) => <li><a href={`/events/${i.slug}`}>{i.data.date}</a></li>)}
      </ul>
    </div>
  </main>
  <Footer />
</RootLayout>
